* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}



/*@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}*/

body {
  background-image: url("pattern-BG.jpg");
  background-size: cover;
}

.sjb-navbar {
  
  background-color: white;
}

.school-background {
  background-image: url("SJB-BG.png");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image fully covers the container */
  background-position: center; /* Centers the image */
  min-height: 60vh; /* Makes the background fill the whole screen */
  width: 100%;
  position: relative; /* Needed for overlay */
  overflow: hidden; /* Prevents any unwanted scrolling */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.school-background img {
  height: 200px;
  z-index: 2;
}

.school-background p {
  font-size: 20px;
  position: relative;
  z-index: 2; /* Places text above the overlay */
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adds readability */
}

.school-background h1 {
  font-size: 70px;
  position: relative;
  z-index: 2; /* Places text above the overlay */
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adds readability */
}

/* Optional: Add an overlay for readability */
.school-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Dark overlay */
  background: rgba(0, 0, 0, 0.1); /* Adjust darkness */

  /* Vignette effect */
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 0.7) 100%
  );
  z-index: 1;
}

.btn-enroll {
  padding: 10px 50px;
  border-radius: 5px;
  border: none;
  background-color: #003a8c;
  color: white;
  cursor: pointer;
  position: relative; /* Ensures it's above the overlay */
  z-index: 2; /* Higher than the overlay */
}

.school-announcement {
  background-image: url("enrollment-2025.jpg");
  background-repeat: no-repeat;
  background-size: contain; /* Ensures the image fully covers the container */
  background-position: top center;
  height: 70vh;
  display: flex;
}

.btn-login {
  padding: 6px 12px;
  background-color: #004aad;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.3s;
  margin-top: 4px; /* or adjust based on your font-size */
}

.btn-login:hover {
  background-color: #003a8c;
}
